{% extends 'base.html' %}
{% block content %}
<h2>Meetings</h2>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Agenda</th>
    </tr>
{% for m in meetings_list %}
    <tr>
        <td><a href="{% url 'meetingsdetail' id=m.id %}">{{ m.meetingtitle }}</a></td>
        <td>{{ m.meetingdate }}</td>
        <td>{{ m.meetingtime }}</td>
        <td>{{ m.meetinglocation }}</td>
        <td>{{ m.meetingagenda }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}